<div class="message-container">
    <h3>Contact</h3>
    <form>
        <div class="message-form">
            <br />
            <textarea class="message" placeholder="Enter message..."></textarea>
            <div class="message-row">
                <div class="box-col-5">
                    <input class="name" placeholder="Something else?...">
                </div>
                <div class="box-col-5">
                    <input class="email" placeholder="Your Email...">
                </div>
            </div>
            <div class="message-row">
                <input class="subject" placeholder="Subtitle...">
            </div>
            <div class="message-row">
                <button class="send-button">SEND</button>
            </div>
        </div>
    </form>
</div>