
<link rel="stylesheet" href="~/css/contact.css">


<!--Main Container-->
<main id="main">
    <div class="container-fluid">
        <div class="banner-container">
            <div class="banner-wrapper">
                <div class="banner-box">
                    <div class="banner-side">
                        <h1 class="pad-top-20 c-white">
                            Contact
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container container-fluid">
        <div class="container-wrapper">
            <section class="box-container">
                <div class="box-cover">
                    <div class="box-wrapper">
                        <div class="info-group">
                            <div class="info-row">
                                <i class="info-icon fa fa-home"></i>
                                <div class="info-content">
                                    <p class="info-txt">34b Văn Cao</p>
                                    <p class="info-txt">P. Phú Thọ Hòa, Q. Tân Phú, TP.HCM</p>
                                </div>
                            </div>

                            <div class="info-row">
                                <a href="tel:0908432264"><i class="info-icon fa fa-phone"></i></a>
                                <div class="info-content">
                                    <p class="info-txt"><a href="tel:0908432264">0908 432 264</a></p>
                                    <p class="info-txt">Monday to Friday</p>
                                </div>
                            </div>

                            <div class="info-row">
                                <a href="mailto:huahoangthanhbao@gmail.com"><i class="info-icon fa fa-envelope"></i></a>
                                <div class="info-content">
                                    <p class="info-txt"><a href="mailto:huahoangthanhbao@gmail.com">huahoangthanhbao@gmail.com</a></p>
                                    <p class="info-txt">Send me query anytime!</p>
                                </div>
                            </div>

                            <div class="info-row">
                                <a href="https://github.com/HuaHoangThanhBao/">
                                    <i class="info-icon fa fa-github"></i>
                                </a>
                                <div class="info-content">
                                    <p class="info-txt"><a href="https://github.com/HuaHoangThanhBao/">My Git</a></p>
                                    <p class="info-txt">All my projects are here</p>
                                </div>
                            </div>
                        </div>

                        <partial name="_MessageForm" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!--End Main Container-->