
<link rel="stylesheet" href="~/css/style.css" />

<!--Main Container-->
<main id="main">
    <div class="container-fluid">
        <div class="banner-container">
            <div class="banner-wrapper">
                <div class="banner-box">
                    <div class="banner-side">
                        <div class="banner-image-outer">
                            <img class="img" src="./images/my-img.png">
                        </div>
                    </div>
                    <div class="banner-side">
                        <div class="banner-content">
                            <h1 class="pad-top-20 c-white">Hứa Hoàng Thanh Bảo</h1>
                            <p class="pad-top-20">Web Developer at Doslink Group</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-container container-fluid">
            <div class="container-wrapper">

                <section class="box-container">
                    <div class="box-cover">
                        <div class="box-name">
                            <h2>Hi!</h2>
                        </div>
                        <div class="box-wrapper">
                            <div class="box-content none-pad-side">
                                <p class="text">I currently work for an international service company.</p>
                                <br>
                                <p class="text">My responsibility is implement new functions by call data through Web API from server. Then, handling and showing it to customer.</p>
                                <br>
                                <p class="text">Also, I have to opimize website's performance and increase UX-UI.</p>
                                <br>
                                <p>My strength is planning and problem solving, which enables me to reduce time and make work better.</p>
                                <br>
                                <p>Besides, I willing to learn new things.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="box-container">
                    <div class="box-cover">
                        <div class="box-name">
                            <h2>My Experties</h2>
                        </div>
                        <div class="box-wrapper">
                            <div class="box-col-5">
                                <div class="box-content br-bt-right bx-shadow">
                                    <div class="box-icon">
                                        <img class="img" src="./images/services1.svg">
                                    </div>
                                    <h3 class="box-title">Front-end</h3>
                                    <p class="box-txt">- Using HTML, CSS3, SCSS, Javascript and Jquery to build website.</p>
                                    <p class="box-txt">- Experience in optimizing web's loading time.</p>
                                    <p class="box-txt">- Upgrading web functions and fixing bugs.</p>
                                    <p class="box-txt">- Integrating third-party application and service to website.</p>
                                    <p class="box-txt">- Familiar with Angular framework.</p>
                                </div>
                            </div>
                            <div class="box-col-5">
                                <div class="box-content br-bt bx-shadow">
                                    <div class="box-icon">
                                        <img class="img" src="./images/services4.svg">
                                    </div>
                                    <h3 class="box-title">Back-end</h3>
                                    <p class="box-txt">- Experience working with Web API, REST API.</p>
                                    <p class="box-txt">- Working with ASP.NET MVC 5, ASP.NET CORE 3.0, LINQ and Entity Framework</p>
                                    <p class="box-txt">- Knowledge of SQL Server programing.</p>
                                    <p class="box-txt">- Experience working with Nodejs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="box-container">
                    <div class="box-cover">
                        <div class="box-name">
                            <h2>Education & Experience</h2>
                        </div>
                        <div class="box-wrapper">
                            <div class="box-content none-pad-side">
                                <div class="box-heading">
                                    <h3>Education</h3>
                                </div>
                                <div class="box-rect br-bt">
                                    <div class="box-col">
                                        <div class="box-flat-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                    </div>
                                    <div class="box-col">
                                        <p class="date">2016 - 2020</p>
                                        <h2 class="award">Bachelor of Software Engineer</h2>
                                        <p class="position">Huflit University</p>
                                        <p class="text">I graduated at Huflit University on 09/2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content none-pad-side">
                                <div class="box-heading">
                                    <h3>Experience</h3>
                                </div>
                                <div class="box-rect br-bt">
                                    <div class="box-col">
                                        <div class="box-flat-icon">
                                            <i class="fa fa-code"></i>
                                        </div>
                                    </div>
                                    <div class="box-col">
                                        <p class="date">04/2020 - 07/2020</p>
                                        <h2 class="award">Fresher Mobile Application</h2>
                                        <p class="position">Sajbernet Company</p>
                                        <p class="text">- Learn to create mobile app using React Native framework.</p>
                                        <p class="text">- Fix bug for old applications.</p>
                                    </div>
                                </div>
                                <div class="box-rect br-bt">
                                    <div class="box-col">
                                        <div class="box-flat-icon">
                                            <i class="fa fa-code"></i>
                                        </div>
                                    </div>
                                    <div class="box-col">
                                        <p class="date">09/2020 - Now</p>
                                        <h2 class="award">Web Developer</h2>
                                        <p class="position">Doslink Group Company</p>
                                        <p class="text">- Responsible for maintaining, reducing loading time of company's websites.</p>
                                        <p class="text">- Fixed bugs for UI and old functions.</p>
                                        <p class="text">- Implemented and upgraded new functions for website with Javascript.</p>
                                        <p class="text">- Created chatbot service for facebook to increase user experience.</p>
                                        <p class="text">
                                            - Designing and building new websites by Wordpress. Edit plugin to be compatible with
                                            Wordpress environment.
                                        </p>
                                        <p class="text">- Integrate SMS OTP Verification system via phone number to collect data from customers.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content none-pad-side">
                                <div class="box-heading">
                                    <h3>My Skills</h3>
                                </div>
                                <!--Basic Skills-->
                                <div class="small-heading">
                                    <p>Basic skills</p>
                                </div>
                                <div class="box-rect">
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>HTML</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder html"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>CSS3, SCSS</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder css"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Javascript</span>
                                                <span>70%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder javascript"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>C#</span>
                                                <span>90%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder c-sharp"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>SQL</span>
                                                <span>70%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder sql"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Git</span>
                                                <span>70%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder git"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>OOP</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder data-structure"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Algorithm</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder algorithm"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Basic Skills-->
                                <!--Framework Skills-->
                                <div class="small-heading">
                                    <p>Framework</p>
                                </div>
                                <div class="box-rect">
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Angular</span>
                                                <span>60%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder angular"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Bootstrap</span>
                                                <span>60%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder jquery"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>JQUERY</span>
                                                <span>60%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder jquery"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Framework Skills-->
                                <!--Soft Skills-->
                                <div class="small-heading">
                                    <p>Soft Skills</p>
                                </div>
                                <div class="box-rect">
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>English (TOEIC - 650)</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder english"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Teamwork</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder team-work"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-col-5 skill-box">
                                        <div class="progress-box">
                                            <div class="progress-title">
                                                <span>Time management</span>
                                                <span>80%</span>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="progress-holder time-management"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Another Skills-->
                            </div>
                        </div>
                    </div>
                </section>


                <!--About me-->
                <section class="box-container rect-area">
                    <div class="box-cover rect-big-left">
                        <div class="box-wrapper">
                            <div class="box-content">
                                <div class="box-heading">
                                    <h3>Something about me...</h3>
                                </div>
                                <div class="box-rect">
                                    <p class="box-txt">So,</p>
                                    <p class="box-txt">Besides coding, I love reading books and listening to music.</p>
                                    <p class="box-txt">
                                        This website will let you know about me clearly
                                        and you can see what I am doing.
                                    </p>
                                    <p class="box-txt">Almost, I love update new things I have learned on here.</p>
                                    <p class="box-txt">
                                        For furthur infomation please contact me via:
                                    </p>
                                    <p class="box-txt">
                                        mail: <a class="highlight"
                                                 href="mailto:huahoangthanhbao@gmail.com">huahoangthanhbao@gmail.com</a>
                                        or zalo/viber: <a class="highlight" href="tel:+840908432264">0908432264</a>
                                    </p>
                                    <p class="box-txt">
                                        Thanks,
                                    </p>
                                    <p class="box-txt">
                                        Hua Hoang Thanh Bao.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End About me-->

                <!--Lastest News-->
                <section class="box-container rect-area">
                    <div class="box-cover rect-big-right">
                        <div class="box-wrapper">
                            <div class="box-content">
                                <div class="box-navigator">
                                    <h3>Lastest News</h3>
                                    <div class="navigator">
                                        <button id="prev" class="prev">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                        <button id="next" class="next">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="news-slide-container">
                                    @*<ul class="news-list">
                                @{
                                    int count = 0;

                                    foreach (var baiViet in ViewBag.BaiViets)
                                    {
                                        if (count != 5)
                                        {
                                            <li class="news-item fade">
                                                <div class="news-box">
                                                    <div class="box-col-5">
                                                        <a>
                                                            <div class="news-image-box">
                                                                <img class="img" src="./images/home-blog1.webp">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="box-col-5">
                                                        <h3 class="news-heading">
                                                            @baiViet.TieuDe
                                                        </h3>
                                                        <p class="news-cap">
                                                            @baiViet.MoTa
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            count++;
                                        }
                                        else
                                        {
                                            break;
                                        }
                                    }
                                }
                            </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Lastest News-->

            </div>
        </div>
    </div>
</main>
<!--End Main Container-->


@*<script src="~/js/slideShow.js"></script>*@