
<link rel="stylesheet" href="~/css/work.css" />

<!--Main Container-->
<main id="main">
    <div class="container-fluid">
        <div class="banner-container">
            <div class="banner-wrapper">
                <div class="banner-box">
                    <div class="banner-side">
                        <h1 class="pad-top-20 c-white">
                            Work
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container container-fluid">
        <div class="container-wrapper">
            <section class="box-container">
                <div class="box-cover">
                    <div class="box-name">
                        <h2>My Projects</h2>
                    </div>
                    <div class="box-wrapper">
                        <div class="box-col-5">
                            <div class="box-content">
                                <img class="img" src="~/images/gallery1.webp">
                                <div class="box-overlay">
                                    <div class="overlay-content">
                                        <h3>Website Du học</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <img class="img" src="~/images/gallery1.webp">
                                <div class="box-overlay">
                                    <div class="overlay-content">
                                        <h3>Website Bất Động Sản</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <img class="img" src="~/images/gallery1.webp">
                                <div class="box-overlay">
                                    <div class="overlay-content">
                                        <h3>Website Thương Mai Điện Tử</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <img class="img" src="~/images/gallery1.webp">
                                <div class="box-overlay">
                                    <div class="overlay-content">
                                        <h3>Website Hàng Nhập Khẩu</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!--End Main Container-->
