
<link rel="stylesheet" href="~/css/work.css" />

<!--Main Container-->
<main id="main">
    <div class="container-fluid">
        <div class="banner-container">
            <div class="banner-wrapper">
                <div class="banner-box">
                    <div class="banner-side">
                        <h1 class="pad-top-20 c-white">
                            Projects
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container container-fluid">
        <div class="container-wrapper">
            <section class="box-container">
                <div class="box-cover">
                    <div class="box-name">
                        <h2>My Projects</h2>
                    </div>
                    <div class="box-wrapper">
                        <div class="box-col-5">
                            <div class="box-content">
                                <a href="https://doslink.com.vn/" target="_blank">
                                    <img class="img" src="~/images/du-an/doslink-point-test.jpg">
                                    <div class="box-overlay">
                                        <div class="overlay-content">
                                            <h3>Doslink Group</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <p class="box-txt"><b>Task:</b> Integrate OTP sending system and optimize website</p>

                                <p class="box-txt"><b>Description:</b></p>

                                <p class="box-txt">
                                    - Reduced website's loading time from 10 second to 2 second, brought website to top 5 of
                                    Google Search.
                                </p>
                                <p class="box-txt">
                                    - Coded new point test pages and integrated SMS OTP verification system to send OTP
                                    code via phone number.
                                </p>

                                <p class="box-txt"><b>Technology: </b> HTML, CSS, Javascript, Jquery</p>

                                <p class="box-txt"><b>Backend:</b> PHP, MySQL Server</p>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <a href="https://siqura.com.vn/" target="_blank">
                                    <img class="img" src="~/images/du-an/siqura.jpg">
                                    <div class="box-overlay">
                                        <div class="overlay-content">
                                            <h3>Siqura International Trading</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <p class="box-txt"><b>Task:</b> Desgin and build landing page</p>

                                <p class="box-txt"><b>Description:</b></p>

                                <p class="box-txt">
                                    - Following instructions from leader.
                                </p>
                                <p class="box-txt">
                                    - Got designs from designing team, planning and coding menu, landing page and footer.
                                </p>
                                <p class="box-txt">
                                    - Integrated Facebook chat for website.
                                </p>

                                <p class="box-txt"><b>Technology: </b> HTML, CSS, Javascript, Jquery</p>

                                <p class="box-txt"><b>Backend:</b> PHP, MySQL Server</p>
                            </div>
                        </div>

                        <div class="box-col-5">
                            <div class="box-content">
                                <a href="https://hangnhapkhauuc.vn/" target="_blank">
                                    <img class="img" src="~/images/du-an/samy.jpg">
                                    <div class="box-overlay">
                                        <div class="overlay-content">
                                            <h3>Samy Trading</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="box-col-5">
                            <div class="box-content">
                                <p class="box-txt"><b>Task:</b> Desgin and build landing page</p>

                                <p class="box-txt"><b>Description:</b></p>

                                <p class="box-txt">
                                    - Implemented cart and checkout page.
                                </p>
                                <p class="box-txt">
                                    - Building email notification system transfer data to company's sales system when a new
                                    order is placed.

                                </p>
                                <p class="box-txt">
                                    - Connect to Integromate webhook to communicate with third party application.
                                </p>

                                <p class="box-txt"><b>Technology: </b> HTML, CSS, Javascript, Jquery</p>

                                <p class="box-txt"><b>Backend:</b> PHP, MySQL Server</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<!--End Main Container-->
