@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@media (min-width: 769px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 769px) {
  h2 {
    font-size: 35px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 28px;
  }
}

@media (min-width: 769px) {
  h3 {
    font-size: 28px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h3 {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 20px;
  }
}

.img {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}

/*Extend*/
.c-white {
  color: white;
}

.pad-top-20 {
  margin-top: 20px;
}

.br-bt-right {
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.br-bt {
  border-bottom: 1px solid #efefef;
}

.br-right {
  border-right: 1px solid #efefef;
}

.highlight {
  color: #ff8553;
}

/*End Extend*/
/*Column Custom*/
.box-col-5 {
  width: 50%;
}

.box-col-5.skill-box:nth-child(odd) {
  padding-right: 30px;
}

.box-col-5.skill-box:nth-child(even) {
  padding-left: 30px;
}

@media (max-width: 768px) {
  .box-col-5.skill-box:nth-child(odd) {
    padding: 0px;
  }
  .box-col-5.skill-box:nth-child(even) {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .box-col-5 {
    width: 100%;
  }
}

/*End*/
/*Các màng màu nằm sau section*/
.rect-big-left::before {
  content: "";
  position: absolute;
  width: 74%;
  height: 100%;
  background: #f8f8f8;
  border-radius: 0px 90px 90px 0px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.rect-big-right::before {
  content: "";
  position: absolute;
  width: 74%;
  height: 74%;
  background: #f8f8f8;
  border-radius: 90px 0px 0px 90px;
  top: 0;
  right: 0;
  bottom: 0;
}

/*End*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: white;
}

/*Banner*/
.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 80px 150px 80px;
  background-image: url("../images/banner-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .banner-container {
    padding: 80px 20px 150px 20px;
  }
}

.banner-container .banner-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.banner-container .banner-wrapper .banner-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .banner-container .banner-wrapper .banner-box .banner-side:first-child {
    width: 300px;
  }
  .banner-container .banner-wrapper .banner-box .banner-side:nth-child(2) {
    width: calc(100% - 300px);
    padding-left: 50px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .banner-container .banner-wrapper .banner-box .banner-side:first-child {
    width: 200px;
  }
  .banner-container .banner-wrapper .banner-box .banner-side:nth-child(2) {
    width: calc(100% - 200px);
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .banner-container .banner-wrapper .banner-box .banner-side {
    width: 100%;
  }
  .banner-container .banner-wrapper .banner-box .banner-side .banner-image-outer .img {
    width: 150px;
    height: 150px;
  }
}

.banner-container .banner-wrapper .banner-box .banner-side:last-child {
  line-height: 1.1;
}

/*End Banner*/
.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Main container*/
.main-container {
  display: block;
  background-color: white;
}

.main-container .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 80px 80px 0px 80px;
}

@media (max-width: 1200px) {
  .main-container .box-container {
    padding: 80px 20px 0px 20px;
  }
}

.main-container .box-container .box-cover {
  max-width: 1500px;
  height: 100%;
}

.main-container .box-container .box-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .box-container .box-wrapper .box-name,
.main-container .box-container .box-wrapper .box-title,
.main-container .box-container .box-wrapper .box-txt {
  display: block;
  width: 100%;
  word-break: break-word;
}

.main-container .box-container .box-wrapper .box-title,
.main-container .box-container .box-wrapper .box-txt {
  padding: 10px 0px 10px 0px;
}

.main-container .box-container .box-wrapper .box-content {
  width: 100%;
  height: 100%;
  padding: 35px;
}

.main-container .box-container .box-wrapper .box-content.none-pad-side {
  padding-left: 0px;
  padding-right: 0px;
}

.main-container .box-container .box-wrapper .box-content.bx-shadow:hover {
  -webkit-box-shadow: 0 10px 20px #ff845331, 0 3px 6px #ff845321;
          box-shadow: 0 10px 20px #ff845331, 0 3px 6px #ff845321;
}

@media (max-width: 768px) {
  .main-container .box-container .box-wrapper .box-content {
    border: none;
  }
}

.main-container .box-container .box-wrapper .box-content .box-icon {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

.main-container .box-container .box-wrapper .box-content .box-heading {
  display: block;
  padding: 0px 20px 0px 0px;
  color: #ff8553;
}

.main-container .box-container .box-wrapper .box-content .small-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
}

/*End Main container*/
/*Sticky Section*/
.sticky {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ff8553;
  z-index: 999;
  padding: 10px;
  -webkit-box-shadow: 0 10px 20px #00000027, 0 3px 6px #00000038;
          box-shadow: 0 10px 20px #00000027, 0 3px 6px #00000038;
}

.sticky-nav {
  display: none;
  height: 0px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .sticky-nav {
    display: block;
  }
}

.sticky-nav.responsive {
  height: 100%;
}

.sticky-nav .sticky-nav__list {
  width: 100%;
  height: 100%;
  background-color: white;
  list-style: none;
}

.sticky-nav .sticky-nav__list .sticky-nav__item {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.sticky-nav .sticky-nav__list .sticky-nav__item .sticky-link {
  padding: 20px;
  display: block;
  cursor: pointer;
}

.sticky-nav .sticky-nav__list .sticky-nav__item .sticky-link.inactive {
  cursor: auto;
}

.sticky-nav .sticky-nav__list .sticky-nav__item:hover {
  color: #ff8553;
}

/*End Sticky Section*/
/*Header*/
.header {
  display: block;
  background: #FF9063;
}

.header .nav {
  display: block;
}

.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 80px 20px 80px;
}

@media (max-width: 1200px) {
  .header .nav .nav__list {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header .nav .nav__list .nav__item:not(:first-child):not(:last-child) {
    display: none;
  }
}

.header .nav .nav__list .nav__item {
  width: 80px;
  color: white;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.header .nav .nav__list .nav__item.nav-effect::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  bottom: -15px;
  position: absolute;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 0;
}

.header .nav .nav__list .nav__item:hover.nav-effect::after {
  width: 100%;
  left: 0;
}

.header .nav .nav__list .nav__item.logo {
  width: 140px;
  margin-right: auto;
}

.header .nav .nav__list .nav__item.last-button {
  width: 150px;
  margin-left: auto;
}

.header .nav .nav__list .nav__item.last-button .talk-button {
  height: 55px;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 17px;
}

.header .nav .nav__list .nav__item.toggle-button {
  width: 30px;
}

@media (min-width: 769px) {
  .header .nav .nav__list .nav__item.toggle-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .header .nav .nav__list .nav__item.toggle-button {
    display: block;
  }
}

.header .nav .nav__list .nav__item.toggle-button .toggle-line {
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  margin-top: 5px;
}

/*Footer*/
footer {
  margin-top: 50px;
  background-color: #000000;
}

footer .footer-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px 0px 0px;
}

@media (max-width: 1200px) {
  footer .footer-wrapper {
    padding: 80px 20px 0px 20px;
  }
}

footer .footer-wrapper .footer-top {
  display: block;
}

footer .footer-wrapper .footer-top .footer-logo {
  height: 50px;
  width: 150px;
}

footer .footer-wrapper .footer-top .footer-content {
  color: white;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-top .footer-content .box-col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-top .footer-content .box-col-5 {
    width: 100%;
  }
}

footer .footer-wrapper .footer-top .footer-content .box-col-5:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  footer .footer-wrapper .footer-top .footer-content .box-col-5:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 40px;
  }
}

footer .footer-wrapper .footer-top .footer-content .box-col-5:last-child .call-button,
footer .footer-wrapper .footer-top .footer-content .box-col-5:last-child .contact-button {
  border-radius: 30px;
  padding: 10px 40px;
  border: 1px solid white;
  color: white;
  background: transparent;
  font-size: 17px;
  margin: 20px 0px 0px 0px;
}

footer .footer-wrapper .footer-top .footer-content .box-col-5:last-child .contact-button {
  background-color: #ff8553;
  border: 1px solid #ff8553;
}

footer .footer-wrapper .footer-top .footer-social-group {
  display: block;
  padding-top: 40px;
}

footer .footer-wrapper .footer-top .footer-social-group .social-icon {
  height: 40px;
  width: 40px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #26140c;
  color: #ff8553;
  border-radius: 5px;
  margin-right: 8px;
}

footer .footer-wrapper .footer-bottom {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 100px 0px 20px 0px;
}

/*End Footer*/
/*Backtop button*/
.back-top {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 18px;
  right: 16px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: #ff8553;
  -webkit-box-shadow: 0 10px 20px #00000027, 0 3px 6px #00000038;
          box-shadow: 0 10px 20px #00000027, 0 3px 6px #00000038;
  z-index: 998;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.back-top.animated {
  opacity: 1;
}

.back-top .back-top-icon {
  font-size: 25px;
  padding: 13px;
}

/**/
.banner-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/hero2.webp");
}

.main-container .box-container .box-wrapper {
  gap: 30px;
}

.main-container .box-container .box-wrapper .box-col-5 {
  width: calc(50% - 30px);
}

@media (max-width: 768px) {
  .main-container .box-container .box-wrapper .box-col-5 {
    width: 100%;
  }
}

.main-container .box-container .box-wrapper .box-content {
  padding: 0px;
  position: relative;
}

.main-container .box-container .box-wrapper .box-content .box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.288)), to(rgba(0, 0, 0, 0.411)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.411));
  border-radius: 10px;
  color: white;
}

.main-container .box-container .box-wrapper .box-content .box-overlay .overlay-content {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;
}
/*# sourceMappingURL=work.css.map */